on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

jobs:
  lints:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: git checkout
        uses: actions/checkout@v4
      - uses: DeterminateSystems/determinate-nix-action@v3
      - uses: DeterminateSystems/flakehub-cache-action@main

      - name: Validate workflow
        run: nix develop -c action-validator -v ./.github/workflows/workflow.yml

      - name: Get npm cache directory
        id: npm-cache-directory
        run: |
          echo "directory=$(nix develop --command npm config get cache | tr -d '\n')" >> $GITHUB_OUTPUT

      - name: Set up npm cache
        uses: actions/cache@v5
        with:
          path: ${{ steps.npm-cache-directory.outputs.directory }}
          key: ${{ runner.os }}-npm-cache-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-npm-cache

      - name: Install npm dependencies
        run: nix develop --command npm ci

      - name: Lint
        run: nix develop --command npm run lint

      - name: Build
        run: nix develop --command npm run build

      - name: Check git status
        run: git status --porcelain=v1

      - name: Ensure no staged changes
        run: git diff --exit-code

  DeterminateCI:
    uses: ./.github/workflows/workflow.yml
    permissions:
      id-token: write
      contents: read
    with:
      directory: ./tests/smoke
