on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

jobs:
  lints:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: git checkout
        uses: actions/checkout@v4
      - uses: DeterminateSystems/determinate-nix-action@v3
      - uses: DeterminateSystems/flakehub-cache-action@main
      - run: nix develop -c action-validator -v ./.github/workflows/workflow.yml
      - run: nix develop -c prettier --check .

  DeterminateCI:
    needs: DisabledCacheNixOSOrg
    uses: ./.github/workflows/workflow.yml
    permissions:
      id-token: write
      contents: read
    with:
      directory: ./tests/smoke

  DisabledCacheNixOSOrg:
    uses: ./.github/workflows/workflow.yml
    permissions:
      id-token: write
      contents: read
    with:
      directory: ./tests/smoke
      disable-cache-nixos-org: true
      post-inventory-commands: |
        if nix config show substituters | grep -q "cache.nixos.org"; then
          echo "Nix has cache.nixos.org enabled as a substituter, which is prohibited by configuration:"
          nix config show substituters
          exit 1
        fi
